body {
    background-color: white;
}
h1
{
text-align: center;
color:white;
font-size:xx-large;
padding:5px;
border: 2px solid white;
background-color: black;
border-radius:10px ;
}

.box {
    
    background-color: white;
    border-radius: 30px;
    width: 663px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 85px);
    gap: 10px;
    padding: 3px;
}

.box > div {
    color: black;
    border: 5px solid white;
    background-color: grey;
    border-radius: 60px;
    text-align: center;
    align-content: center;
    font-weight: bolder;
}

#result {
    grid-row: 1/8;
    grid-column: 1/8;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
}

#equal {
    border: 3px solid blue;
    background-color: blue;
    color: black;
}
#tri {
    border: 3px #A0A0A0;
    background-color: #A0A0A0;
    color: black;
}
#abc
{
  border: 3px #696969;
  background-color: #696969;
  color: black;
}
.zero
{
  
  text-align-last: right;
  
}


